.resultsJumbo {
    border: 2px solid black;
    background-color: white !important;
    padding-top: 15px !important;
    padding-bottom: 5px !important;
}

.row-two {
    margin-top: 30px;
}

.row-one {
    /* padding-left: 10%; */
    border-bottom: 2px solid black;
    width: 100%;
    margin-left: 0 !important;
}

.buttons {
    width: 25%;
    border-color: white !important;
}
.blue {
background-color: #4285F4 !important;
}
.yellow {
background-color: #F4B400 !important;
}
.red {
background-color: #DB4437 !important;
}
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.col-two {
    margin-left: 25px;
}

.bookpic {
    width: 50%;
}