.searchJumbotron {
    border: 2px solid black;
    background-color: white !important;
    height: 100% !important;
    padding-bottom: 0 !important;
}

.searchRow {
    margin-top: 30px;
}

.submitbtn {
    background-color: #0F9D58 !important;
    border-color: #0F9D58 !important;
}

.searchHeading {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: .5rem;
}

.searchSubtitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 4rem;
}

.searchInput {
    padding-top: 2rem;
}

#hrtag {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}